body{
    background-color: gray
}
table{
    margin: auto;
    background-color: lightblue;
    width: 960px;
    padding: 30px;
}
h1{
    text-align: center;
}
hr{
    color: blue
    
}
h2{
    color:  blue;
    border: none;
    box-sizing: border-box;
    margin-right: 40%;
    border-bottom: 2px dotted blue;
    border-top: 2px solid blue;
    font-variant: small-caps;
}
p{
    text-align: justify;
}
img{
    max-width: 200px;
    border: 5px solid blue
}
.kep1{
    margin-left: 20px;
    margin-bottom: 40px;
    float: right;
}
.kep2{
    margin-left: 20px;
    margin-bottom: 5px;
    float: right;
    clear: both;
}
ul{
    list-style-image: url(kukac.png)
}
.kep3{
    float: left;
    margin-right: 20px;   
}
.kep4{
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}
.kep5{
    float: left;
    margin-right: 20px;
    
}
a{
    font-style: italic;
    margin-left: 350px;
}
.bal{
    text-align: left;
}
.wikipedia {
    color: black;
}
hr.hr1{
    border: 2px solid blue
}